.kbOSDViewer{
    position:relative;
    overflow:hidden;
    height:100%;
}
.kbOSDViewer *{
    padding:0px;
    margin:0px;
    border:0px;
}
.kbOSDHeader, .kbOSDFooter{
    height:48px;
    background:#1B1B1B;
    color:#757575;
    width:100%;
}
.kbOSDViewer .kbOSDContent .navigator{
    margin-top:48px !important; /* Moving the navigator down below the KB header */
}
.kbOSDViewer .kbOSDHeader{
/*    position:absolute;
    top:0;*/
}
.kbOSDFooter .kbPrevNav{
    width: 17.5%;
}
.kbOSDFooter .kbFastNav{
    line-height:50px;
    width:7%;
}
.kbOSDHeader .kbFastNav input{
    width:30px;
    text-align:right;
}
.kbOSDHeader h1{
    font-family: arial;
    line-height:48px;
    font-size: 18px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top:0;
}
.kbOSDViewer .kbOSDContent{
    /*position:absolute;
    top:48px;
    bottom:48px;*/
    height:100%;
    margin: -48px 0;
    width:100%;
}
.kbOSDFooter{
    /*position:absolute !important; /* Apparently OpenSeadragon insist on making the toolbar position relative? */
    /*bottom:0;*/
}

.kbOSDFooter ul{
    text-decoration: none;
}
.kbOSDFooter ul li{
    display:inline-block;
    min-height:1px;
    width:12.5%;
    float:left;
    text-align: center;
}
.kbOSDFooter .kbOSDCurrentPage{
    width:30px;
    text-align:right;
}
.kbOSDViewer .icon, .kbOSDFooter .icon, .kbOSDHeader .icon{
    display:inline-block;
    background:transparent url('../images/icon.png') no-repeat 0px 0px;
    height:48px;
    width:48px;
}
.kbOSDFooter ul li .home{
    background-position:0px 0px;
}
.kbOSDFooter ul li .home:hover{
    background-position:0px -48px;
}
.kbOSDFooter ul li .zoomOut{
    background-position:-48px 0px;
}
.kbOSDFooter ul li .zoomOut:hover{
    background-position:-48px -48px;
}
.kbOSDFooter ul li .zoomIn{
    background-position:-96px 0px;
}
.kbOSDFooter ul li .zoomIn:hover{
    background-position:-96px -48px;
}
.kbOSDFooter ul li .previous{
    background-position:-144px 0px;
}
.kbOSDFooter ul li .previous:hover{
    background-position:-144px -48px;
}
.kbOSDFooter ul li .next{
    background-position:-192px 0px;
}
.kbOSDFooter ul li .next:hover{
    background-position:-192px -48px;
}
.kbOSDFooter ul li .rotate{
    background-position:-240px 0px;
}
.kbOSDFooter ul li .rotate:hover{
    background-position:-240px -48px;
}
.kbOSDFooter ul li .minimize{
    background-position:-288px 0px;
}
.kbOSDFooter ul li .minimize:hover{
    background-position:-288px -48px;
}
.kbOSDFooter ul li .maximize{
    background-position:-336px 0px;
}
.kbOSDFooter ul li .maximize:hover{
    background-position: -336px -48px;
}
.kbOSDHeader .icon.kbLogo{
    background-position:-384px 0px;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
