@import url('../font-awesome-4.7.0/css/font-awesome.min.css');
.fa{
    cursor: pointer;
    color:#337ab7
}
.fa:hover{
    color:#adc9e2;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
.kbOSDViewer{
    position:relative;
    overflow:hidden;
    height:100%;
}
.kbOSDViewer *{
    padding:0;
    margin:0;
    border:0;
}
.kbOSDHeader, .kbOSDToolbar{
    height:35px;
    background:transparent;
    color:#757575;
    width:100%;
    min-width:230px;
}

.kbOSDViewer .kbOSDHeader{
/*    position:absolute;
    top:0;*/
}
.kbOSDToolbar .kbPrevNav{
}
.kbOSDToolbar .kbFastNav{
    line-height:23px;
    white-space:nowrap;

}
.kbOSDToolbar .kbFastNav input{
    border: 1px solid lightgrey;
}
@media screen and (max-width:768px){ /* rearrange toolbar buttons on small screens */
    .kbOSDToolbar .hideWhenSmall{
        display:none;
    }
    .kbOSDToolbar .kbFastNav{
        /*width:21%;*/
    }
    .kbOSDToolbar .kbFullscreen{
        /*width:24%;*/
    }
}
/* These next three are in here because we can not use a media query, if the viewer is on a huge page, but in a narrow container */
/*.kbOSDToolbar.narrowMenu .hideWhenSmall{
    display:none;
}*/
.kbOSDToolbar.narrowMenu .kbFastNav{
    /*width:21%;*/
}
.kbOSDToolbar.narrowMenu .kbFullscreen{
    /*width:24%*/
}
.kbButtonOverlay{
    z-index:5;
    width:35px;
    height:35px;
}
.kbButtonOverlay.kbLeft{
    float:left;
    background:url('../images/next_grouphover.png') no-repeat 0 0;
}
.kbButtonOverlay.kbLeft:hover{
    background:url('../images/next_hover.png') no-repeat 0 0;
}
.kbButtonOverlay.kbRight{
    float:right;
    background:url('../images/previous_grouphover.png') no-repeat 0 0;
}
.kbButtonOverlay.kbRight:hover{
    background:url('../images/previous_hover.png') no-repeat 0 0;
}
.kbOSDHeader h1{
    font-family: roboto;
    line-height:48px;
    font-size: 18px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top:0;
}
.kbOSDViewer .kbOSDContent{
    /*position:absolute;
    top:48px;
    bottom:48px;*/
    height:95%;
    margin: 0 0 0 0;
    width:100%;
}
.kbOSDViewer .kbOSDContent canvas {
    border:1px gray solid !important;
}
.indexPage{
    margin-top: 35px;
    position:absolute;
    left:-200px;
    right:100%;
    top:0;
    bottom:0; /* minus toolbar height */
    background-color:darkgray;
    opacity:0.7;
    transition: left 200ms ease-out, right 200ms ease-out;
    -webkit-box-shadow : 3px 3px 6px rgba(0,0,0,0.2);
    -moz-box-shadow : 3px 3px 6px rgba(0,0,0,0.2);
    box-shadow : 3px 3px 6px rgba(0,0,0,0.2);
    min-width:200px;
}
.indexPage.shown{
    left:0;
}
.kbOSDContent.fullpage .indexPage{
    top:0;
    bottom:0;
}
.kbOSDContent .indexPage .indexFan{
    position:absolute;
    width:32px;
    height:32px;
    background-color:darkgray;
    cursor:pointer;
    right:0;
    margin-right:-32px;
    top:100px;
    /*border:1px solid black;*/
    border-left-width:0;
    border-radius:0 5px 5px 0;
    z-index:9999;
    -webkit-box-shadow:3px 3px 6px rgba(0,0,0,0.2);
    -moz-box-shadow:3px 3px 6px rgba(0,0,0,0.2);
    box-shadow:3px 3px 6px rgba(0,0,0,0.2);
    font-family: roboto !important;
    font-weight: bold !important;
}
.kbOSDContent .indexPage .indexFan img{
    margin-top:6px;
    margin-left:5px;
}
.kbOSDContent .indexPage .indexFan .glyphicon{
    display:block;
    margin-top:6px;
    margin-left:5px;
    width: 21px;
    height: 24px;
    background-repeat: no-repeat;
}
.kbOSDContent .indexPage .indexFan .glyphicon{
    background-image: url(../images/glyphicons-list.png);
    background-position-y:3px;
}
.kbOSDContent .indexPage.shown .indexFan .glyphicon{
    background-image: url(../images/glyphicons-arrow-left.png);
    background-position-y:4px;
}
.kbOSDContent .indexPage .indexContent{
    position:absolute;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    overflow-x:hidden;
    overflow-y:auto;
}
.kbOSDContent .indexPage .indexContent ul{
    list-style:none;
    padding:0;
}
.kbOSDContent .indexPage .indexContent ul li .indexLink{
    cursor:pointer;
    color:#4c4c4c;
    text-decoration:none;
    font-family: roboto;
    font-weight: bold;
    white-space: nowrap;
}
.indexContent li{
    padding-bottom: 10px !important;
}
.kbOSDContent .indexPage .indexContent ul li .indexLink:hover{
    color:#fff;
    text-decoration:underline;
}
.kbOSDToolbar{
    /*position:absolute !important; /* Apparently OpenSeadragon insist on making the toolbar position relative? */
    /*bottom:0;*/
    background-color: transparent;
}

.kbOSDToolbar ul{
    text-decoration: none;
}
.kbOSDToolbar ul li{
    display:inline-block;
    min-height:1px;
    float:left;
    text-align: center;
}
.kbOSDToolbar .kbOSDCurrentPage{
    width:30px;
    text-align:right;
}
.kbOSDViewer .icon, .kbOSDToolbar .icon, .kbOSDHeader .icon{
    display:inline-block;
    height:35px;
    width:35px;
}
.kbOSDToolbar ul li .home{
    background:url('../images/home_grouphover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .home:hover{
    background:url('../images/home_hover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .zoomOut{
    background:url('../images/zoomout_grouphover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .zoomOut:hover{
    background:url('../images/zoomout_hover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .zoomIn{
    background:url('../images/zoomin_grouphover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .zoomIn:hover{
    background:url('../images/zoomin_hover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .previous{
    background:url('../images/previous_grouphover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .previous:hover{
    background:url('../images/previous_hover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .next{
    background:url('../images/next_grouphover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .next:hover{
    background:url('../images/next_hover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .rotateRight{
    background:url('../images/rotateright_grouphover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .rotateRight:hover{
    background:url('../images/rotateright_hover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .rotateLeft{
    background:url('../images/rotateleft_grouphover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .rotateLeft:hover{
    background:url('../images/rotateleft_hover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .minimize{
    background:url('../images/fullpage_grouphover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .minimize:hover{
    background:url('../images/fullpage_hover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .maximize{
    background:url('../images/fullpage_grouphover.png') no-repeat 0 0;
}
.kbOSDToolbar ul li .maximize:hover{
    background:url('../images/fullpage_hover.png') no-repeat 0 0;
}

.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.kbOSDToolbar{
    /*position: absolute !important;*/
    /*top: 0;*/
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    /* To center the bar*/
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#full-screen_compress{
    display:none;
}
